name: Gatsby Pages Publish

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: enriikke/gatsby-gh-pages-action@v2
        env:
          BREWFATHER_USER_ID: ${{ secrets.BREWFATHER_USER_ID }}
          BREWFATHER_API_KEY: ${{ secrets.BREWFATHER_API_KEY }}
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          deploy-branch: gh-pages
          gatsby-args: --prefix-paths
